{
  "parser": "babel-eslint",
  "extends": [
    "@amille/eslint-config/react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  }
}
